<h1><%= @user.user_name %></h1>

<h4>Comments</h4>
<% if current_user %>
  <%= render 'comment_form' %>
<% end %>
<br>
<ul>
  <% Comment.where("commentable_type = ? AND commentable_id = ?", "User", @user.id).order( 'created_at desc').each do |comment| %>
  <li><span class='comment-author'><%= comment.user.user_name %></span>:
    <span class='comment'><%= comment.content %></span> <small>commented <%= time_ago_in_words comment.created_at %> ago</small>
    <%= link_to 'edit', edit_comment_path(comment) if current_user.id == comment.user.id %>
    <%= link_to 'delete', comment_path(comment), data: { confirm: 'Are you sure?', method: 'delete' } if current_user.id == comment.user.id %> </li>
  <% end %>
</ul>
