
<div class='row well'>
  <h3>Tags:</h3><% @post.tags.each do |tag| %>
    <div class='col-sm-4'>
      <h4><%= link_to tag.name, tag_path(tag) %></h4>
    </div>
  <% end %>
</div>


<div class="panel panel-default row">
  <div class="panel-heading"><h1><%= @post.title %></h1></div>
  <div class="panel-body">
    <p class='post-content'>
      <%= @post.content %>
    </p>
  </div>
</div>

<% if current_user %>
  <%= link_to 'Edit', edit_post_path(@post) %>
  <%= link_to 'Delete', post_path(@post), data: { confirm: 'Are you sure?', method: 'delete' } %>
<% end %>

<div id="content"></div>

<h4>Comments</h4>
<% if current_user %>
  <%= render 'comment_form' %>
<% end %>
<br>
<ul>
  <% @post.comments.order( 'created_at desc').each do |comment| %>
    <li><span class='comment-author'><%= comment.user.user_name %></span>:
      <span class='comment'><%= comment.content %></span>
      <small>commented <%= time_ago_in_words comment.created_at %> ago</small>
      <%= link_to 'edit', edit_comment_path(comment) if current_user.id == comment.user.id %>
      <%= link_to 'delete', comment_path(comment), data: { confirm: 'Are you sure?', method: 'delete' } if current_user.id == comment.user.id %></li>
  <% end %>
</ul>
